In [5]:
import pandas as pd
import numpy as np

np.random.seed(42)  # For reproducibility

# Define the parameters for the large dataset
num_rows = 10**6  # One million rows of data
start_date = "2025-01-01"
end_date = "2025-12-31"
products = ["A", "B", "C", "D", "E"]
regions = ["North", "South", "East", "West", "Central"]

# Generate random data
np.random.seed(42)  # For reproducibility
dates = pd.date_range(start=start_date, end=end_date, freq="D")
date_column = np.random.choice(dates, size=num_rows, replace=True)
product_column = np.random.choice(products, size=num_rows, replace=True)
sales_column = np.random.randint(50, 500, size=num_rows)
region_column = np.random.choice(regions, size=num_rows, replace=True)

# Create the DataFrame
large_data = pd.DataFrame({
    "Date": date_column,
    "Product": product_column,
    "Sales": sales_column,
    "Region": region_column
})

# Save the dataset to a CSV file
file_path = r"E:\NLP Learning\NLP-Learning\Report Generations\sample_report_data_2.csv"
large_data.to_csv(file_path, index=False)

print(f"File saved at: {file_path}")

File saved at: E:\NLP Learning\NLP-Learning\Report Generations\sample_report_data_2.csv

In Windows, file paths should use either double backslashes (`\\`) or forward slashes (`/`) to avoid issues with the backslash (`\`) being interpreted as an escape character. Here's the corrected file path:

### Explanation

1. **Raw String Prefix (`r`)**: Adding `r` before the string treats it as a raw string, so escape characters like `\n` or `\t` are not processed.
   ```python
   file_path = r"E:\NLP Learning\NLP-Learning\Report Generations\sample_report_data_2.csv"
   ```

2. **Forward Slashes**: Alternatively, replace backslashes with forward slashes, which also work in Windows:
   ```python
   file_path = "E:/NLP Learning/NLP-Learning/Report Generations/sample_report_data_2.csv"
   ```

3. **Double Backslashes**: Use double backslashes to escape each backslash:
   ```python
   file_path = "E:\\NLP Learning\\NLP-Learning\\Report Generations\\sample_report_data_2.csv"
   ```

Using any of these methods will resolve issues with file path interpretation on Windows systems.

In [6]:
large_data

             Date Product  Sales   Region
0      2025-04-13       D    128     West
1      2025-12-15       C    290  Central
2      2025-09-28       B    418    South
3      2025-04-17       B    168    South
4      2025-03-13       D    105    North
...           ...     ...    ...      ...
999995 2025-10-16       E    425    North
999996 2025-02-15       B    342  Central
999997 2025-07-10       C    440     West
999998 2025-04-03       D    336  Central
999999 2025-09-27       E    457     West

[1000000 rows x 4 columns]

In [7]:
large_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 4 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Date     1000000 non-null  datetime64[ns]
 1   Product  1000000 non-null  object
 2   Sales    1000000 non-null  int32
 3   Region   1000000 non-null  object
dtypes: datetime64[ns](1), int32(1), object(2)
memory usage: 26.7+ MB

In [8]:
large_data['Date'].describe()

count                          1000000
mean     2025-07-02 00:11:21.782399744
min                2025-01-01 00:00:00
25%                2025-04-02 00:00:00
50%                2025-07-02 00:00:00
75%                2025-10-01 00:00:00
max                2025-12-31 00:00:00
Name: Date, dtype: object

In [6]:
df = pd.read_excel('sample_report_data.xlsx')
df

        Date Product  Sales Region
0 2025-01-01       A    100  North
1 2025-01-01       B    150  South
2 2025-01-02       A    200   East
3 2025-01-02       B    250   West

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     4 non-null      datetime64[ns]
 1   Product  4 non-null      object
 2   Sales    4 non-null      int64
 3   Region   4 non-null      object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 260.0+ bytes

All of the data types are correct

In [7]:
df.to_csv('sample_report_data.csv', index=False)